In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../resources/shot_logs_clean.csv")
df.head()

,outcome,period,game_clock,shot_clock,dribbles,touch_time,shot_dist,pts_type,close_def_dist
0,1,1,1:09,10.8,2,1.9,7.7,2,1.3
1,0,1,0:14,3.4,0,0.8,28.2,3,6.1
2,0,2,11:47,10.3,2,1.9,17.2,2,3.4
3,0,2,10:34,10.9,2,2.7,3.7,2,1.1
4,0,2,8:15,9.1,2,4.4,18.4,2,2.6

In [4]:
# Set features. This will also be used as your x values.
selected_features = df.drop(["outcome", "game_clock"], axis=1)
X = selected_features
y = df["outcome"]
print(X.shape, y.shape)

(122491, 7) (122491,)

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [6]:
X_train.head()

,period,shot_clock,dribbles,touch_time,shot_dist,pts_type,close_def_dist
59833,2,4.9,2,2.7,15.2,2,4.5
33090,2,17.3,0,0.6,2.7,2,2.1
18614,3,17.4,0,0.7,2.9,2,4.9
7395,2,1.1,5,5.1,6.2,2,3.4
83161,3,11.8,0,1.7,3.8,2,0.5

In [7]:
# Create a Logistic Regression Model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [8]:
#  Fit (train) or model using the training data
classifier.fit(X_train, y_train)

LogisticRegression()

In [9]:
#  Validate the model using the test data
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.6061958462141334
Testing Data Score: 0.604676223753388

In [11]:
# Compare model predictions to actual outcomes
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

        Prediction  Actual
65870            0       0
87601            1       1
1519             1       0
110808           0       0
84359            0       1
...            ...     ...
55453            0       1
99915            0       0
49945            0       0
80798            0       1
81234            0       0

[30623 rows x 2 columns]

In [13]:
# Saving model
import joblib
filename = 'logistic_regression_model.sav'
joblib.dump(classifier, filename)

['logistic_regression_model.sav']

In [15]:
# load the model from disk
loaded_model = joblib.load(filename)
result = loaded_model.score(X_test, y_test)
print(result)

0.604676223753388