In [2]:
import pandas as pd
import joblib

In [4]:
df = pd.read_csv("../resources/shot_logs_clean.csv")
df.head()

,outcome,period,game_clock,shot_clock,dribbles,touch_time,shot_dist,pts_type,close_def_dist
0,1,1,1:09,10.8,2,1.9,7.7,2,1.3
1,0,1,0:14,3.4,0,0.8,28.2,3,6.1
2,0,2,11:47,10.3,2,1.9,17.2,2,3.4
3,0,2,10:34,10.9,2,2.7,3.7,2,1.1
4,0,2,8:15,9.1,2,4.4,18.4,2,2.6

In [5]:
# Set features. This will also be used as your x values.
selected_features = df.drop(["outcome", "game_clock"], axis=1)
X = selected_features
y = df["outcome"]
print(X.shape, y.shape)

(122491, 7) (122491,)

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.head()

,period,shot_clock,dribbles,touch_time,shot_dist,pts_type,close_def_dist
59833,2,4.9,2,2.7,15.2,2,4.5
33090,2,17.3,0,0.6,2.7,2,2.1
18614,3,17.4,0,0.7,2.9,2,4.9
7395,2,1.1,5,5.1,6.2,2,3.4
83161,3,11.8,0,1.7,3.8,2,0.5

In [7]:
# For each model, load file and use .score function to find accuracy score of model
files = [
        "logistic_regression_model.sav",
        "decision_tree_model.sav",
        "knn_model.sav",
        "random_forest_model.sav",
        "svm_model.sav"
        ]

rows = []
for file in files:
    loaded_model = joblib.load(file)
    result = loaded_model.score(X_test, y_test)
    rows.append([file, result])

In [25]:
# Create DataFrame with model and relative score
model_df = pd.DataFrame(rows, columns=["Model", "Accuracy Score"]).sort_values(["Accuracy Score"],ascending=False)
model_df["Model"] = model_df["Model"].str.split(".").str[0]
model_df["Model"] = model_df["Model"].str.replace("_"," ")
model_df

                       Model  Accuracy Score
0  logistic regression model        0.604676
4                  svm model        0.590863
3        random forest model        0.589230
2                  knn model        0.547562
1        decision tree model        0.539039